/*==================================================
    05-OBJECTS/MODAL
===================================================*/

.o-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 10;
    transition: ease-in-out 0.3s;
    opacity: 0;
    padding-top: $spacing-h-l;
    box-sizing: border-box;

    &--open {
        animation-name: fadeIn;
        animation-duration: 0.3s;
        opacity: 1;
    }

    @media #{$tablet-large} {
        align-items: flex-start;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.o-modal__exit{
    position: fixed;
    top: 0;
    z-index: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: $bg-color-opacity;
    box-shadow: $inset-shadow;
    cursor: pointer;
    display: flex;
    flex-direction: column;

    &::before {
        content: url("../../images/fantasy_theme_exit.svg");
        display: block;
        align-self: flex-end;
        color: $dark-color;
        width: $width_elm-s;
        height: $width_elm-s;
        margin-right: $spacing-h-s;
        margin-top: $spacing-h-s;
    }
}

.o-modal__content {
    position: relative;
}
