/*==================================================
    06-COMPONENTS/INVENTORY-CONTAINER
===================================================*/

.c-inventory-container__content {
    width: 75vw;
    height: 75vh;
    box-sizing: border-box;
}