/*==================================================
    06-COMPONENTS/SKILLS-CONTAINER
===================================================*/

.c-skills-container__content {
    display: flex;
    width: $res-width_box-xxl;
    box-sizing: border-box;
    padding: $padding-l;
    background-color: $light-color;
    border: $theme-color-second $thick-border;
    align-items: center;
    justify-content: center;
    margin-top: $spacing-h-s;

    @media #{$tablet-large} {
        flex-wrap: wrap-reverse;
        margin-bottom: $spacing-h-l;
    }
}

.c-skills-container__description {
    width: 33%;
    order: 2;

    h3,
    p {
        text-align: center;
    }

    @media #{$tablet-large} {
        order: 3;
    }
}
