/*==================================================
    06-COMPONENTS/GREETINGS
===================================================*/

.c-greetings {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: $spacing-h-s;
}

$header-size: 25rem;
.c-greetings__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: $padding-s;
    box-sizing: border-box;
    text-align: center;
    background-image: url('../../images/header_bg.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: $header-size;
    height: calc(#{$header-size} * 0.24);
}

.c-greetings__header-name {
    font-size: calc(#{$header-size} * 0.05);
    margin-top: 4%;
    margin-bottom: 7%;
}

.c-greetings__header-title {
    font-size: calc(#{$header-size} * 0.03);
}

.c-greetings__profile-pic {
    margin-top: $spacing-h-s;
    width: $width_box-s;
    height: calc(#{$width_box-s} * 1.09);
    margin-bottom: $padding-m;

    img {
        width: 100%;
        height: 100%;
    }

    @media #{$mobile} {
        width: $width_box-xs;
        height: calc(#{$width_box-xs} * 1.09);
    }
}

$header-size: 13rem;

.c-greetings__content {
    display: flex;
    width: 100%;
    justify-content: center;
}

.c-greetings__content-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 auto;
    width: $width_elm-l;

    @media #{$mobile} {
        width: $width_elm-m;
    }
}