/*==================================================
    06-COMPONENTS/PROJECTS
===================================================*/

.c-project {
    list-style: none;
    margin: 0 auto;
    width: $width_elm-xl;
}

.c-project__button {
    position: relative;
    width: 100%;
    height: calc(#{$width_elm-xl} * 1.22);
    box-sizing: border-box;
    padding: $padding-l $padding-xl $padding-xl $padding-xl;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url('../../images/fantasy_theme_project.svg');
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: $light-color;
    cursor: pointer;
    transform: scale(1) rotate(0);
    transition: ease-in-out 0.2s;

    @media #{$non-touch} {
        &:hover {
            transform: scale(1.2) rotate(10deg);
            transition: ease-in-out 0.2s;
            z-index: 1;
        }    
    }

    &--viewed {
        position: relative;

        &::before {
            content: url('../../images/fantasy_theme_check.svg');
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: $width_elm-s;
        }
    }

    &--project1 {
        background-image: url('../../images/fantasy_theme_project1.svg');
    }
    &--project2 {
        background-image: url('../../images/fantasy_theme_project2.svg');
    }
}

.c-project-button__header {
    margin-bottom: 50px;
    margin-left: 5px;
    text-align: center;
}

.c-project__content {
    width: $res-width_box-xxl;
    height: calc(#{$res-width_box-xxl} * 0.54);
    min-width: $width_box-xxl;
    min-height: calc(#{$width_box-xxl} * 0.54);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url('../../images/fantasy_theme_projects_bg.svg');
    border-radius: 34px;
    border-top-right-radius: 144px;
    border-top-left-radius: 144px;
    box-sizing: border-box;
    display: flex;
    padding: 6% 12% 11%;

    &--project1 {
        background-image: url('../../images/fantasy_theme_projects1_bg.svg');
    }
    &--project2 {
        background-image: url('../../images/fantasy_theme_projects2_bg.svg');
    }

    @media #{$tablet-large} {
        width: 200vw;
        height: calc(200vw * 0.54);
        min-width: unset;
        min-height: unset;
        margin-right: -100vw;
    }

    @media #{$mobile} {
        border-radius: 0;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }
}

.c-project__page {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;

    h4 {
        font-size: 1.1rem;
    }

    &--left {
        margin-left: 5%;
    }

    &--right {
        margin-right: 5%;
    }

    @media #{$tablet-large} {
        width: 35%;
        height: 75%;
        margin-top: 5%;

        &--left {
            margin-left: 12%;
        }
    
        &--right {
            margin-right: 12%;
        }
    }
}

.c-project__header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.c-project__article {
    margin-bottom: 5%;
}

.c-project__role-header {
    margin-bottom: 5%;
}

.c-project__role-item {
    @include sword;
    margin-bottom: 3%;
}
