/*==================================================
    06-COMPONENTS/PROJECTS
===================================================*/

.c-project {
    list-style: none;
    margin: 0 auto;
    width: $width_elm-xl;
}

.c-project__button {
    width: 100%;
    height: calc(#{$width_elm-xl} * 1.22);
    box-sizing: border-box;
    padding: $padding-l $padding-xl $padding-xl $padding-xl;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url('../../images/fantasy_theme_project.svg');
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: $light-color;
    cursor: pointer;
    transform: scale(1) rotate(0);
    transition: ease-in-out 0.2s;

    &:hover {
        transform: scale(1.2) rotate(10deg);
        transition: ease-in-out 0.2s;
    }

    &--viewed {
        position: relative;

        &::before {
            content: url('../../images/fantasy_theme_check.svg');
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: $width_elm-s;
        }
    }

    &--project1 {
        background-image: url('../../images/fantasy_theme_project1.svg');
    }
    &--project2 {
        background-image: url('../../images/fantasy_theme_project2.svg');
    }
}

.c-project-button__header {
    margin-bottom: 50px;
    margin-left: 5px;
    text-align: center;
}

.c-project__content {
    width: $res-width_box-xxl;
    height: calc(#{$res-width_box-xxl} * 0.54);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url('../../images/fantasy_theme_projects_bg.svg');
    border-radius: 34px;
    border-top-right-radius: 144px;
    border-top-left-radius: 144px;
    box-sizing: border-box;
    display: flex;
    padding: $spacing-h-m $spacing-w-m $spacing-h-l;

    &--project1 {
        background-image: url('../../images/fantasy_theme_projects1_bg.svg');
    }
    &--project2 {
        background-image: url('../../images/fantasy_theme_projects2_bg.svg');
    }
}

.c-project__page {
    padding: $padding-xl;
    padding-top: $padding-s;
    width: 40%;
    margin: 0 5%;
    display: flex;
    flex-direction: column;

    h4 {
        font-size: 1.1rem;
    }
}

.c-project__header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.c-project__article {
    margin-bottom: 20px;
}

.c-project__role-header {
    margin-bottom: 20px;
}

.c-project__role-item {
    @include sword;
    margin-bottom: 10px;
}
