/*==================================================
    01-SETTINGS/MEDIA-QUERIES
===================================================*/
$screen: 'only screen';

$portrait: '#{$screen} and (orientation: portrait)';
$non-touch: '(hover: hover) and (pointer: fine)';
$touch-only: '(hover: none) and (pointer: coarse)';

$mobile: '#{$screen} and (max-width: 519px)';
$tablet-small: '#{$screen} and (max-width: 767px)';
$tablet-large: '#{$screen} and (max-width: 1023px)';
$desktop-small: '#{$screen} and (max-width: 1279px)';
$desktop-only: '#{$screen} and (min-width: 1023px)';
$big-screen-only: '#{$screen} and (min-width: 1919px)';
