/*==================================================
    01-SETTINGS/SIZES
===================================================*/

/** BOXES **/
/* Width */
$width_box-xs: 30.6vw;
$width_box-s: 38.2vw;
$width_box-m: 49.44vw;
$width_box-l: 61.8vw;
$width_box-xl: 80vw;

/* Height */
$height_box-s: 19.3vw;
$height_box-m: 31.7vw;
$height_box-l: 51.3vw;

/** ELEMENTS **/
/* Width */
$width_elm-s: 4.7rem;
$width_elm-m: 7.6rem;
$width_elm-l: 12.3rem;
$width_elm-xl: 19.9rem;
$width_elm-xxl: 32.2rem;

/* Height */
$height_elm-s: 3rem;
$height_elm-m: 4.9rem;
$height_elm-l: 7.9rem;
$height_elm-xl: 16rem;
$height_elm-xxl: 20.7rem;